Binaries
DerivedDataCache
Intermediate
Saved
Windows
CookerOpenOrder.log
EditorOpenOrder.log
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/Windows/FileOpenOrder/CookerOpenOrder.log
*.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
